---
import "../../styles/global.css";

import BaseHead from "@ui/layout/BaseHead.astro";

interface Props {
	title?: string;
	description?: string;
	socialImg?: URL;
	schema?: Record<string, unknown> | Array<Record<string, unknown>>;
	pageType?: "website" | "article" | "profile";
	publishedTime?: string;
	modifiedTime?: string;
	noindex?: boolean;
	frontmatter?: {
		title: string;
		description: string;
	};
}

const {
	title,
	description,
	socialImg,
	schema,
	pageType,
	publishedTime,
	modifiedTime,
	noindex,
	frontmatter,
} = Astro.props;
---

<html lang='en'>
	<BaseHead
		title={title || frontmatter?.title}
		description={description || frontmatter?.description}
		socialImg={socialImg}
		schema={schema}
		pageType={pageType}
		publishedTime={publishedTime}
		modifiedTime={modifiedTime}
		noindex={noindex}
	/>
	<body>
		<slot />
	</body>
</html>
