---
import type { Social } from '../../types';

import RenderIcons from '@components/icons/RenderIcons.astro';
import MobileNavigation from './MobileNavigation.astro';

const navigationItems = [
	{ name: 'Home', url: '/' },
	{ name: 'Blog', url: '/blog/' },
	{ name: 'Events', url: '/events/' },
];

const socialIcons = [
	{
		name: 'GitHub',
		url: 'https://www.elian.codes/github',
		icon: 'github',
	},
	{
		name: 'Twitter',
		url: 'https://www.elian.codes/twitter',
		icon: 'twitter',
	},
	{ name: 'RSS', url: '/blog.xml', icon: 'rss' },
] as Social[];

export interface Props {
	pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
	{pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
	<a href='/' title='Back to Home'>
		<p class='righteous md:text-5xl'>ElianCodes</p>
	</a>
	<nav class='hidden md:inline-block'>
		<h2 class='hidden'>Navigation</h2>
		<ul class='flex gap-8 poppins'>
			{
				navigationItems.map((item) => (
					<li>
						<a
							class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
							href={item.url}
							title={`Go to ${item.name}`}
						>
							{item.name}
						</a>
					</li>
				))
			}
			{
				socialIcons.map((item) => (
					<li>
						<a
							href={item.url}
							target='_blank'
							title={`See @ElianCodes on ${item.name}`}
						>
							<RenderIcons
								icon={item.icon}
								class={
									'hover:text-green-400 w-6 h-6 transition-all duration-150 ease-in-out'
								}
							/>
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<MobileNavigation items={navigationItems} />
</header>
