---
import { Image } from '@astrojs/image/components';
import Button from '../components/generic/Button.astro';
import Layout from '../layouts/Default.astro';

interface Event {
  name: string;
  title: string;
  link: string;
  date: Date | any;
  abstract: string;
  type: string;
  blogpost?: string;
  subtype?: string;
  videolink?: string;
  emoji?: string;
}

let events: Event[] = await fetch(
  'https://us-central1-eliancodes-1632771244788.cloudfunctions.net/events'
).then((res) => res.json());
events = events
  .map((event: Event): Event => {
    const seconds = event.date._seconds;
    event.date = new Date(0);
    event.date.setUTCSeconds(seconds);
    return event;
  })
  .sort((a, b) => b.date - a.date);
---

<Layout
  title='Events'
  description='See upcoming and past events Elian took part in as a speaker (mostly Astro & JavaScript).'
>
  <main class='bg-yellow p-6'>
    <ul class='grid md:grid-cols-3 gap-8'>
      {
        events.map((event) => (
          <li class='card-shadow bg-white border-black rounded-lg p-4 border-3 flex flex-col justify-between'>
            <p class='text-xl outfit font-medium'>{event.name}</p>
            <p>{event.title}</p>
            <Image
              src='https://i.imgur.com/KvnPBQV.png'
              width={800}
              height={400}
              alt={event.name}
              class='border-2 border-black my-2 rounded-lg'
            />
            <p class='poppins'>{event.abstract}</p>
            <p class='mt-2'>{event.date.toLocaleDateString()}</p>
            <div class='flex gap-4 mt-4'>
              <Button blank={true} href={event.link}>
                See event
              </Button>
              {event.blogpost && (
                <Button blank={true} href={event.blogpost}>
                  See Blogpost
                </Button>
              )}
              {event.videolink && (
                <Button blank={true} href={event.videolink}>
                  See Recording
                </Button>
              )}
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
