---
import BaseLayout from './BaseLayout.astro'
const {content} = Astro.props;
const {title, author, createdAt, description, longDescription, permalink} = content;
const slug = `https://www.elian.codes/${permalink}/`
---
<BaseLayout title={description} permalink={slug} description={longDescription}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <article class="blog-post">
        <slot />
        <p>Written by {author} on {createdAt}</p>
    </article>
</BaseLayout>