---
// Component Imports
import BaseHead from '../components/layout/BaseHead.astro';
import DefaultHeader from '../components/layout/DefaultHeader.vue';
import DefaultFooter from '../components/layout/DefaultFooter.tsx';
import BlogScripts from '../components/layout/BlogScripts.astro';
import BackArrow from '../components/blog/BackArrow.astro'
import Cookies from '../components/layout/Cookies.tsx';

const {content} = Astro.props;
const {author, createdAt, description, longDescription} = content;
---
<html lang="en">
  <head>
    <BaseHead title={`Elian Van Cutsem | ${description}`} description={longDescription} permalink={`https://www.elian.codes/blog/${content.permalink}/`}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.css" integrity="sha512-lTmd0bFMM2Ttm/S8V5dywYNiJaSyF5PILZosvAIzW4EJ7JLEYflk9ImyYIxw5KlFz7e9ZCJN53rnvPnefD240w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <DefaultHeader textMenu={true} client:load/>
    <main class="blog-post">
      <BackArrow link="/blog/" text="Back to all posts" />
      <article class="blog-post">
        <slot class="prose" />
        <p>Written by {author} on {createdAt}</p>
      </article>
      <BackArrow link="/blog/" text="Back to all posts" />
    </main>
    <DefaultFooter client:load/>
    <Cookies client:load/>
    <BlogScripts />
  </body>
</html>
