---
import BaseLayout from './BaseLayout.astro'
const {content} = Astro.props;
const {title, author, createdAt, description, longDescription, permalink} = content;
const slug = `https://www.elian.codes/${permalink}/`
---
<BaseLayout title={description} permalink={slug} description={longDescription}>
    <link rel="stylesheet" href="/assets/prism/prism.css" />
    <script src="/assets/prism/prism.js"></script>
    <article class="blog-post">
        <slot />
        <p>Written by {author} on {createdAt}</p>
    </article>
</BaseLayout>