---
import { Card, Pill } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";

const doing = [
	{ name: "Astro", url: "https://astro.build/" },
	{ name: "Nuxt", url: "https://nuxt.com/" },
	{ name: "Laravel", url: "https://laravel.com/" },
	{ name: "Tailwind", url: "https://tailwindcss.com/" },
	{ name: "Vue", url: "https://vuejs.org/" },
	{ name: "Vite", url: "https://vitejs.dev/" },
	{ name: "Biome", url: "https://biomejs.dev/"},
	{ name: "SolidJS", url: "https://solidjs.com"}
];

const sponsoring = [
	{ name: "Biome", url: "https://github.com/biomejs", img: 'https://avatars.githubusercontent.com/u/140182603?s=200&v=4' },
	{ name: "Evan You", url: "https://github.com/yyx990803", img: 'https://avatars.githubusercontent.com/u/499550?v=4' },
	{ name: "Anthony Fu", url: "https://github.com/antfu", img: 'https://avatars.githubusercontent.com/u/11247099?v=4' },
	{ name: "Vite", url: "https://github.com/vitejs", img: 'https://avatars.githubusercontent.com/u/65625612?s=200&v=4' },
	{ name: "Josh Goldberg", url: "https://github.com/JoshuaKGoldberg", img: 'https://avatars.githubusercontent.com/u/3335181?v=4' },
]
---

<section class="mt-8 grid md:grid-cols-2 gap-8">
	<div class="flex flex-col gap-8">
	<Card>
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
			Currently sponsoring:
		</h2>
		<ul class="flex gap-4">
			{sponsoring.map(sponsor => (<li><a href={sponsor.url} title={sponsor.name}><Image class="rounded-full" alt={sponsor.name} src={sponsor.img} width={50} height={50} /></a></li>))}
		</ul>
	</Card>
	<Card>
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
			What's keeping me busy?
		</h2>
		<ul class="flex gap-4 flex-wrap">
			{
				doing.map((item) => (
					<li class="sanchez">
						<Pill>
							<a href={item.url} target="_blank" title={`Go to ${item.name}`}>
								{item.name}
							</a>
						</Pill>
					</li>
				))
			}
		</ul>
	</Card>
	</div>
	<Card color="orange">
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">Who am I?</h2>
		<p class="poppins">
			Hi, I’m Elian, software engineer located in Belgium, currently working as
			DX-support at <a
				href="https://astro.build"
				class="underline"
				target="_blank">Astro</a
			>. My love for the web was first sparked in 2018 when I decided to build a
			simple HTML page to display the photos I took at the time, there was no
			way back! Since then and there, I was completely in love with building on
			and for the web. I transitioned to a Wordpress drag-and-drop to then
			learning JavaScript and JAMStack development.
		</p>
		<p class="poppins mt-2">
			Today, I'm mainly focussed on Full-Stack development with a love for
			front-end and JavaScript.
		</p>
		<p class="poppins mt-2">
			I started out as a front-end engineering intern in 2020 at <a
				href="https://www.vbridge.eu/"
				target="_blank"
				class="underline"
				title="To the vBridge website">vBridge</a
			>, where I also started getting into JavaScript frameworks. Next to
			engineering, I'm writing technical documentation & <a href="/events"
				>giving talks and workshops</a
			> about Astro.
		</p>
	</Card>
</section>
