---
const githubUsername = 'ElianVanCutsem'
const twitterUsername = 'HTMELian'
const linkedInUsername = 'elianvancutsem'

const heroImg = Astro.resolve('../../assets/img/hero.png')
const twitterIcon = Astro.resolve('../../assets/img/icons/twitter.svg')
const linkedinIcon = Astro.resolve('../../assets/img/icons/linkedin.svg')
const githubIcon = Astro.resolve('../../assets/img/icons/github.svg')
---
<section class="hero">
    <figure class="z-30" data-aos="fade-down">
        <img src={heroImg} alt="Elian Van Cutsem's online avatar"/>
        <figcaption>Elian Van Cutsem's online avatar</figcaption>
    </figure>
    <ul>
        <li data-aos="fade-up" data-aos-delay="200">
            <a rel="nofollow noopener" href={`https://www.github.com/${githubUsername}`} target="_blank" title={`${githubUsername} on Github`}>
                <span class="sr-only">Github Icon</span>
                <img src={githubIcon} alt={`${githubUsername} on Github`}/>
            </a>
        </li>
        <li data-aos="fade-up" data-aos-delay="300">
            <a rel="nofollow noopener" href={`https://www.twitter.com/${twitterUsername}`} target="_blank" title={`${twitterUsername} on Twitter`}>
                <span class="sr-only">Twitter Icon</span>
                <img src={twitterIcon} alt={`${twitterUsername} on Twitter`}/>
            </a>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
            <a rel="nofollow noopener" href={`https://www.linkedin.com/in/${linkedInUsername}`} target="_blank" title={`${linkedInUsername} on Linkedin`}>
                <span class="sr-only">LinkedIn Icon</span>
                <img src={linkedinIcon} alt={`${linkedInUsername} on Linkedin`}/>
            </a>
        </li>
    </ul>
</section>