---
export interface Props {
  textMenu: boolean;
  menuColor: string;
  logoColor: string;
}

const { textMenu, logoColor, menuColor } = Astro.props;

const getLogoColor = () => {
  return logoColor == null ? 'text-primary' : logoColor
}

const getMenuColor = () => {
  return menuColor == null ? 'text-primary' : menuColor
}
---
<header>
  <nav>
    <h1><a href="/" title="home" class={`home ${getLogoColor()}`}>Elian Van Cutsem</a></h1>
    { textMenu ? (
    <ul>
      <li><a href="/" class={getMenuColor()}>Home</a></li>
      <li><a href="/blog" class={getMenuColor()}>Blog</a></li>
      <li><a href="/projects" class={getMenuColor()}>Projects</a></li>
      <li><a href="/certifications" class={getMenuColor()}>Certifications</a></li>
    </ul>
    ) : null }
  </nav>
</header>