---
// Component Imports
import BaseHead from '../components/layout/BaseHead.astro';
import DefaultHeader from '../components/layout/DefaultHeader.vue';
import DefaultFooter from '../components/layout/DefaultFooter.tsx';

let title = 'Elian Van Cutsem | Page Not Found';

// @TODO: get this from Analytics API
const popularPages = [
  { title: 'Blog', description: 'On this page you can find all articles I post', link: 'https://www.elian.codes/blog/', type: 'page' },
  { title: 'Coffee', description: 'This page gives a description on how I made Elian.Coffee', link: 'https://www.elian.codes/coffee/', type: 'page' },
  { title: 'Add TailwindCSS JIT to your Nuxt Site', description: 'TailwindCSS just released a feature called Just-In-Time. The TailwindCSS blog published an article about it here. It’s available (for now, since it will be added in TailwindCSS v3.0) on NPM.', link: 'https://www.elian.codes/blog/add-tailwind-jit-to-your-nuxt-js-site/', type: 'article' },
]

const getIcon = (type: string): JSXElement => {
  if (type === "article") {
    return (
      <svg class="h-6 w-6 use-color" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
      </svg>
    )
  } else if (type === "page") {
    return (
      <svg class="h-6 w-6 use-color" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
    )
  } else {
    return (
      <svg class="h-6 w-6 use-color" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
    )
  }
}
---
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <DefaultHeader textMenu={true} client:load/>
    <main class="max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-xl mx-auto py-16 sm:py-24">
        <div class="text-center">
          <p class="text-sm font-semibold use-color uppercase tracking-wide">404 error</p>
            <h1 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">This page does not exist.</h1>
          <p class="mt-2 text-lg text-gray-500">The page you are looking for could not be found.</p>
        </div>
        <div class="mt-12">
          <h2 class="text-sm font-semibold text-gray-500 tracking-wide uppercase">Popular pages</h2>
          <ul role="list" class="mt-4 border-t border-b border-gray-200 divide-y divide-gray-200">
            { popularPages.map(page => (
              <li class="relative py-6 flex items-start space-x-4">
                <div class="flex-shrink-0">
                  <span class="flex items-center justify-center h-12 w-12 rounded-lg bg-indigo-50">
                    {getIcon(page.type)}
                  </span>
                </div>
                <div class="min-w-0 flex-1">
                  <h3 class="text-base font-medium text-gray-900">
                    <span class="rounded-sm focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <a href={page.link} class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        {page.title}
                      </a>
                    </span>
                  </h3>
                  <p class="text-base text-gray-500">
                   {page.description}
                  </p>
                </div>
                <div class="flex-shrink-0 self-center">
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              </li>
            ))}
          </ul>
          <div class="mt-8">
            <a href="/" class="text-base font-medium use-color">Or go back home<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
      </div>
    </main>
    <DefaultFooter client:load/>
  </body>
</html>