---
// Component Imports
import DefaultLayout from '../layouts/Default.astro';
import Certifications from '../components/certifications/CertificationSection.astro'
const title = 'Elian Van Cutsem | Certifications';
const description = 'See my relevant Software Engineer Certifications here. Some of them are really easy to get and you should too!';
const permalink = 'https://www.elian.codes/certifications/';

const fetchCertifications = await fetch('https://api.elian.codes/certificationgroups');
const certificationgroups = await fetchCertifications.json();
---
<DefaultLayout title={title} description={description} permalink={permalink}>
  <section>
    { certificationgroups.map(group => (
        <Certifications
          title={group.title}
          certifications={group.certifications}
          description={group.description}
        />
      ))
    }
  </section>
</DefaultLayout>