---
// Component Imports
import BaseHead from '../components/layout/BaseHead.astro';
import DefaultHeader from '../components/layout/DefaultHeader.vue';
import DefaultFooter from '../components/layout/DefaultFooter.tsx';
import IntroSection from '../components/sections/IntroSection.astro';
import HeroSection from '../components/sections/HeroSection.astro';

const title = 'Elian Van Cutsem | Home';
const description = 'Software Engineer @vBridge BV';
const permalink = 'https://www.elian.codes/';

const githubUsername = 'ElianVanCutsem'
const twitterUsername = 'HTMELian'
const linkedInUsername = 'elianvancutsem'
---
<html lang="en" class="index-bg">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <DefaultHeader textMenu={true} menuColor={'text-white'} client:load/>
    <main class="index">
      <IntroSection />
      <HeroSection githubUsername={githubUsername} linkedInUsername={linkedInUsername} twitterUsername={twitterUsername}/>
    </main>
    <DefaultFooter client:load/>
  </body>
</html>
