---
import { Image } from '@astrojs/image/components';
import type { CollectionEntry } from 'astro:content';
import Button from '../generic/Button.astro';
import TagItem from './TagItem.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<style>
  div.card {
    filter: drop-shadow(10px 10px 0 rgb(0 0 0 / 1));
    transition: all;
    transition-duration: 0.5s;
    animation: ease-in-out;
  }

  div.card:hover {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
</style>

<div
  class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
>
  <h3 class='poppins text-lg md:text-xl'>{post.data.title}</h3>
  <div class='rounded-lg border-3 border-black my-4 h-56'>
    <Image
      src={post.data.imgUrl}
      alt={post.data.title}
      width={800}
      height={400}
      class='rounded h-full w-full object-cover'
    />
  </div>
  <p class='poppins'>{post.data.description}</p>

  <div class='flex justify-end my-4'>
    <Button href={`/blog/${post.slug}`}>Read post &rarr;</Button>
  </div>

  <div class='hidden sm:inline-block'>
    <p class='poppins mt-2'>tags:</p>
    <div class="flex justify-between items-center">
      <ul class='flex gap-4 mt-2'>
        {
          post.data.tags.map((tag) => {
            return (
              <li>
                <TagItem>{tag}</TagItem>
              </li>
            );
          })
        }
      </ul>
      {post.data.draft && (
        <span class="bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow">Draft</span>
      )}
    </div>
  </div>
</div>
