---
import type { CollectionEntry } from "astro:content";
import BlogList from "@components/blog/BlogList.astro";
import Layout from "@layouts/new/Default.astro";
import { getBlogTagIndex } from "@lib/content";
import Button from "@ui/Button.astro";
import Section from "@ui/Section.astro";
import TitleSection from "@ui/TitleSection.astro";

export async function getStaticPaths() {
	const tags = await getBlogTagIndex();

	return tags.map((tag) => {
		return {
			params: { tag: tag.slug },
			props: {
				tag: tag.label,
				blogposts: tag.posts,
			},
		};
	});
}

export interface Props {
	tag: string;
	blogposts: CollectionEntry<"blog">[];
}

const { tag, blogposts } = Astro.props;
---

<Layout
	title={`Blog: ${tag}`}
	description={`Elian Codes Blog | All posts tagged with ${tag}`}
>
	<TitleSection
		title={tag}
		subtitle={`All blog posts tagged with ${tag}.`}
	/>
	<Section class='tag-index'>
		<div class='tag-index__back'>
			<Button variant='ghost' href='/blog/'>&larr; Back to blog</Button>
		</div>
		<BlogList posts={blogposts} />
	</Section>
</Layout>

<style>
	.tag-index {
		display: grid;
		gap: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 4rem;
	}
</style>
